# Postgres Config
POSTGRES_USER=mahasiswa-rsi
POSTGRES_PASSWORD=praktikum-rsi
POSTGRES_DB=acara-rsi

# Pgadmin config
PGADMIN_DEFAULT_EMAIL=mahasiswa-rsi@gmail.com
PGADMIN_DEFAULT_PASSWORD=praktikum-rsi